---
items:

  - type: carousel
    carousel:
      title: Stage promoted by
      items:
        - shape: rectangle
          image: https://i.imgur.com/fkeENep.png
          open: http://mylinktopromotion.com
        - shape: rectangle
          image: https://i.imgur.com/fkeENep.png
          open: http://mylinktopromotion2.com
        - shape: rectangle
          image: https://i.imgur.com/fkeENep.png
          open: http://mylinktopromotion3.com

  - type: item
    item:
      metadata:
        icon: facebook
        text: 31 October 2020
      media:
        type: video
        video:
          url: https://www.w3schools.com/html/mov_bbb.mp4
      text: |-
        <p>And that is a wrap! Our final finisher for 2020 ASB Bank Auckland Marathon made it to Victoria Park <br /><br />#AucklandMarathon #RunTheCity</p>

  - type: item
    item:
      metadata:
        icon: facebook
        text: 31 October 2020
      media:
        type: image
        image:
          url: https://www.w3schools.com/html/pic_trulli.jpg
      open: http://link-to-some-promotion.com
      text: |-
        <p>We know there will be some sore people out there today (anyone avoiding taking the stairs today?) but knowing you earned a medal makes it worth it!<br /><br />Share your #MedalMonday presented by Always Advancing with us and our favourite photo will win a free entry for 2021!<br /><br />: @giuls_giuliana <br /><br />#AucklandMarathon #RunTheCity</p>

  - type: item
    item:
      metadata:
        icon: facebook
        text: 31 October 2020
      media:
        type: image
        image:
          url: https://www.w3schools.com/html/img_girl.jpg
      open: http://link-to-some-promotion.com
      text: |-
        xxx

  - type: carousel
    carousel:
      title: Second Carousel
      items:
        - shape: rectangle
          image: https://i.imgur.com/4xrvXRP.png
          open: http://mylinktopromotion.com
        - shape: rectangle
          image: https://i.imgur.com/fkeENep.png
          open: http://mylinktopromotion2.com
        - shape: rectangle
          image: https://i.imgur.com/4xrvXRP.png
          open: http://mylinktopromotion3.com

  - type: item
    item:
      metadata:
        icon: twitter
        text: Twitter Icon
      text: |-
        This is just a tweet with no media content

  - type: item
    item:
      metadata:
        icon: facebook
        text: Facebook Icon
      text: |-
        This is just a facebook post with no media content

  - type: item
    item:
      metadata:
        icon: app
        text: App Icon
      text: |-
        This is just a app post with no media content
